.cluster-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.cluster-selection .cluster-group {
    display: flex;
}

.cluster-selection .cluster-group .cluster {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;

    width: 154px;
    height: 58px;

    background: #FFFFFF;
    border: 1px solid #EEEDFF;

    text-align: center;

    transition: background .33s ease;
}

.cluster-selection .cluster-group .cluster img {
    height: 25px;
    width: 25px;
}

.cluster-selection .cluster-group .cluster:first-child {
    border-radius: 6px 0px 0px 6px;
}

.cluster-selection .cluster-group .cluster:last-child {
    border-radius: 0px 6px 6px 0px;
}

.cluster-selection .cluster-group .cluster:hover, .cluster-selection .cluster-group .cluster-active {
    background: #E5E5E5;
}

.big-cluster {
    display: flex;
    flex-direction: row;
    height: 166px;
}

.big-cluster img {
    height: 100px;
    width: 100px
}

.big-cluster h2 {
    margin-left: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
}

.leaderboard {
    background: #FAFBFD;
    min-height: 100vh;
    margin: 0 -20px;
    padding: 40px;
}

.leaderboard .table {
    margin: auto;
    max-width: 75%;
}

.leaderboard .table .header {
    display: grid;
    grid-template-columns: 10% 40% 12.5% 12.5% 12.5% 12.5%;
    padding: 0 20px;
}

.leaderboard .table .header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    color: #8D8D00;
}