.influencer-card {
    display: grid;
    grid-template-columns: 10% 40% 12.5% 12.5% 12.5% 12.5%;
    padding: 0 20px;
    height: 105px;
    background: #FFFFFF;
    border: 1px solid #EEEDFF;
    border-radius: 6px 0px 0px 6px;
    align-items: center;
    margin-top: 18px;
    cursor: pointer;
}
.influencer-card .rank {
    text-indent: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.influencer-card .profile {
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 17px;
}
.influencer-card .profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.influencer-card .profile .info {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.influencer-card .profile .info .name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #000000;
}
.influencer-card .profile .info .screen-name {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    color: #6C6C6C;
}
.influencer-card .score, .influencer-card .following, .influencer-card .followers, .influencer-card .change {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}